@import '../core/Var';

.body__container {
    margin: auto;
    @media all and (min-width: 600px) {
      background-image: url('../../images/background-3.svg');
      background-position: center;
      background-size: 150px;
      background-attachment: fixed;
      padding: 40px 0;
    }
    &--content {
    margin: auto;
    min-height: 100vh;
    @media all and (min-width: 600px) {
      max-width: 550px;
      box-shadow: 0px 0px 15px $accent-clr;
      background-color: $white;
    }
    @media all and (min-width: 768px) {
      max-width: 650px;
    }
    @media all and (min-width: 1024px) {
      max-width: 950px;
    }
    @media all and (min-width: 1280px) {
      max-width: 1100px;
    }
  }
}
