@import '../core/Var';

.menu__item {
    text-decoration: none;
    color: $main-clr;
    &--title {
        text-decoration: none;
        color: $white;
    }
    & .active {
        color: $accent-clr;
    }
}